<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
<body class="show_load">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-success load" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading..</span>
        </div>
    </div>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-2">
                                <h2 class="fw-bold text-uppercase">Email Verification</h2>
                                <form action="" method="POST">
                                    <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                                    <div class="mb-5 mt-5">
                                        <input type="email" id="floatingInput" data-toggle="tooltip" data-placement="right" title="Enter your email" name="email" class="form-control  email" placeholder="Enter your email" />
                                    </div>
                                    <div class="mt-2 text-center">
                                        <button class="btn btn-outline-light px-5 forget" data-toggle="tooltip" data-placement="right" title="Enter" type="button">Enter</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="{{url_for('static',filename='scripts/user/forget_password.js')}}" crossorigin="anonymous"></script>
</html>