<div class="card mb-4">
    <div class="card-body">
        DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
        .
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Main Id</th>
                    <th>Admin Id</th>
                    <th>Device Info</th>
                    <th>Login Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>S.No</th>
                    <th>Main Id</th>
                    <th>Admin Id</th>
                    <th>Device Info</th>
                    <th>Login Date</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            {% if other_device_admin%}
            <tbody>
                {% for admin in other_device_admin %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ admin['admin_main_id'] }}</td>
                    <td>{{ admin['admin_id'] }}</td>
                    <td>{{ admin['device_info'] }}</td>
                    <td>{{ admin['login_date'] }}</td>
                    <td>
                        <form action="" method="POST">
                            <div class="d-flex">
                                <button type="submit" value="{{ admin['id'] }}" class="btn btn-danger px-3 other_admin_id"><i class="fa fa-trash"></i></button>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            {% endif %}
        </table>
    </div>
</div>