<div class="card mb-4">
    <div class="card-body">
        DataTables is a third party plugin that is used to generate the demo table below. For more information about
        DataTables, please visit the
        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
        .
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable
        <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#staticModal"
            data-toggle="tooltip" data-placement="top" title="Add New Admin">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Admin Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Device Info</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>S.No</th>
                    <th>Admin Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Device Info</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            {% if admin %}
            <tbody>
                {% for admin_data in admin %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ admin_data['admin_id'] }}</td>
                    <td>{{ admin_data['name'] }}</td>
                    <td>{{ admin_data['email'] }}</td>
                    <td>{{ admin_data['password'] }}</td>
                    <td>{{ admin_data['device_info'] }}</td>
                    <td>
                        <form action="" method="POST">
                            <div class="d-flex">
                                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="btn btn-danger px-3 delete_admin" value="{{ admin_data['id'] }}"><i class="fa fa-trash"></i></button>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            {% endif %}
        </table>
    </div>
</div>

<div class="modal fade" id="staticModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticLabel">Add New Admin</h1>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="POST">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                <div class="modal-body">
                    <div class="mb-3 mt-3">
                        <input type="text" id="floatingInput" name="name" class="form-control admin_name"
                            placeholder="Name" />
                    </div>
                    <div class="mb-3">
                        <input type="email" id="floatingInput" name="email" class="form-control admin_email"
                            placeholder="Email" />
                    </div>
                    <div class="mb-3">
                        <input type="password" id="floatingPassword" name="password" class="form-control admin_password"
                            placeholder="Password" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger cancel_admin" type="reset">Cancel</button>
                    <button class="btn btn-primary add_admin" type="button">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>