<div class="card mb-4">
    <div class="card-body">
        DataTables is a third party plugin that is used to generate the demo table below. For more information about
        DataTables, please visit the
        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
        .
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable
    </div>
    <div class="card-body">
        
        <form action="" method="POST">
            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
            <div class="modal-body">
                <div class="mb-3">
                    <input type="password" id="floatingPassword" name="old_password" class="form-control old_password"
                        placeholder="Old Password" />
                </div>
                <div class="mb-3">
                    <input type="password" id="floatingPassword" name="new_password" class="form-control new_password"
                        placeholder="New Password" />
                </div>
                <div class="mb-3">
                    <input type="password" id="floatingPassword" name="confirm_password"
                        class="form-control confirm_password" placeholder="Confirm Password" />
                </div>
            </div>
            <div class="bb-3 mt-3 text-center">
                <button class="btn btn-danger cancel_password" type="reset">Cancel</button>
                <button class="btn btn-primary update_password" type="button">Change Password</button>
            </div>
        </form>
    </div>
</div>