<div class="card mb-4">
    <div class="card-body">
        DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
        .
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Main Id</th>
                    <th>Slot Id</th>
                    <th>Payment Id</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>No of Days</th>
                    <th>Amount</th>
                    <th>Payment Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>S.No</th>
                    <th>Main Id</th>
                    <th>Slot Id</th>
                    <th>Payment Id</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>No of Days</th>
                    <th>Amount</th>
                    <th>Payment Status</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            {% if slot_data %}
            <tbody>
                {% for slot in slot_data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ slot['user_id'] }}</td>
                    <td>{{ slot['slot_id'] }}</td>
                    <td>{{ slot['payment_id'] }}</td>
                    <td>{{ slot['from_date'] }}</td>
                    <td>{{ slot['to_date'] }}</td>
                    <td>{{ slot['total_day'] }}</td>
                    <td>{{ slot['amount'] }}</td>
                    <td>
                        {% if slot['status']=='Payment Success' %}
                        <p class="text-success fw-bold">{{slot['status']}}</p>
                        {% else %}
                        <p class="text-danger fw-bold">{{slot['status']}}</p>
                        {% endif %}
                    </td>
                    <td>
                        <form action="" method="POST">
                            <div class="d-flex">
                                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" value="{{ slot['id'] }}" class="btn btn-danger px-3 slot_id"><i class="fa fa-trash"></i></button>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            {% endif %}
        </table>
    </div>
</div>