<div class="card mb-4">
    <div class="card-body">
        DataTables is a third party plugin that is used to generate the demo table below. For more information about
        DataTables, please visit the
        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
        .
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable
        <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#staticModal"
            data-toggle="tooltip" data-placement="top" title="Add New User">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>User Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone No</th>
                    <th>Password</th>
                    <th>Account Verify</th>
                    <th>Device Info</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>S.No</th>
                    <th>User Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone No</th>
                    <th>Password</th>
                    <th>Account Verify</th>
                    <th>Device Info</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            {% if user_data %}
            <tbody>
                {% for users in user_data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ users['user_id'] }}</td>
                    <td>{{ users['name'] }}</td>
                    <td>{{ users['email'] }}</td>
                    <td>{{ users['phone_no'] }}</td>
                    <td>{{ users['password'] }}</td>
                    <td>
                        {% if users['verify'] == 1 %}
                        <p class="text-success px-3 py-3 fw-bold">Verify</p>
                        {% else %}
                        <p class="text-danger px-3 py-3 fw-bold">Not Verify</p>
                        {% endif %}
                    </td>
                    <td>{{ users['device_info'] }}</td>
                    <td>
                        <form action="" method="POST">
                            <div class="d-flex">
                                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                                <button class="btn btn-primary py-2 show_data" type="button" value="{{ users['id'] }}">
                                    <i class="fa fa-pen-to-square"></i>
                                </button>
                                <button type="button" class="btn btn-danger px-3 delete_data" value="{{ users['id'] }}"><i class="fa fa-trash"></i></button>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            {% endif %}
        </table>
    </div>
</div>


<div class="modal fade" id="staticModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticLabel">Add New User</h1>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="POST">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                <div class="modal-body">
                    <div class="mb-3 mt-3">
                        <input type="text" id="floatingInput" name="name" class="form-control  name"
                            placeholder="Name" />
                    </div>
                    <div class="mb-3">
                        <input type="email" id="floatingInput" name="email" class="form-control  email"
                            placeholder="Email" />
                    </div>
                    <div class="mb-3">
                        <input type="number" id="floatingInput" name="phone" class="form-control  phone"
                            placeholder="Phone No" />
                    </div>
                    <div class="mb-3">
                        <input type="password" id="floatingPassword" name="password" class="form-control password"
                            placeholder="Password" />
                    </div>
                    <div class="mb-3">
                        <input type="password" id="floatingPassword" name="confirm_password"
                            class="form-control confirm_password" placeholder="Confirm Password" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger cancel" type="reset">Cancel</button>
                    <button class="btn btn-primary add" type="button">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade " id="staticModalUpdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticLabelUpdate" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticLabelUpdate">Update User Data</h1>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="POST" id="form">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                <div class="modal-body">
                    <div class="mb-3 mt-3">
                        <input type="text" id="floatingInput" name="name" class="form-control update_name"
                            placeholder="Name" />
                    </div>
                </div>
                <input type="hidden" class="form-control id">
                <div class="modal-footer">
                    <button class="btn btn-danger reset" type="reset">Cancel</button>
                    <button class="btn btn-primary update" type="button">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>