<div class="card mb-4">
    <div class="card-body">
        DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
        .
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Main Id</th>
                    <th>User Id</th>
                    <th>Device Info</th>
                    <th>Login Date & Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>S.No</th>
                    <th>Main Id</th>
                    <th>User Id</th>
                    <th>Device Info</th>
                    <th>Login Date & Time</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            {% if other_device_data %}
            <tbody>
                {% for data in other_device_data%}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ data['user_main_id'] }}</td>
                    <td>{{ data['user_id'] }}</td>
                    <td>{{ data['device_info'] }}</td>
                    <td>{{ data['login_date'] }}</td>
                    <td>
                        <form action="" method="POST">
                            <div class="d-flex">
                                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" value="{{ data['id'] }}" class="btn btn-danger px-3 other_user_id"><i class="fa fa-trash"></i></button>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            {% endif %}
        </table>
    </div>
</div>