<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
</head>
<body>
    <div class="mt-5">
        <img class="img-fluid mx-auto d-block"  style="width: 30rem; background-color: black;" src="https://img.freepik.com/free-vector/page-found-concept-illustration_114360-1869.jpg" alt="">
        <div class="text-center">
            <button class="btn btn-primary rounded-pill" ><a class="text-decoration-none text-white" href="/">Home</a></button>
        </div>
    </div>
</body>
</html>